{% extends 'products/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if orders %}
            <h2>Your Orders: {{ user }}</h2>
            <p>Total Number of Orders: <b>{{ orders.total_quantity }}</b></p>
            <ul class="list-group mt-3">
                {% for order in orders %}
                    <li class="list-group-item">
                        <p><b>Book:</b> {{ order.product.name }} by {{ order.product.author }}</p>
                        <p><b>Quantity:</b> {{ order.quantity }}</p>
                        <p><b>Price:</b> {{ order.sum }}$</p>
                    </li>
                {% endfor %}
            </ul>
            <p class="mt-3">Total Cost of Your Orders: <b>{{ orders.total_sum }}$</b></p><br><br><br>
        {% else %}
            <h2>Sorry, You Haven't Placed an Order Yet</h2>
        {% endif %}
    </div><br><br><br>
{% endblock %}
